Implement lookupAllRecords for twisted.names.cache.CacheResolver

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)| @exarkun reported|
|-|-|
|Trac ID|trac#6094|
|Type|enhancement|
|Created|2012-10-10 13:52:40Z|

It is currently unimplemented.  RFC 1035, section 7.1, obliquely suggests that whatever records for a name a cache happens to have, it should return from a '*'/ANY query.


<details><summary>Searchable metadata</summary>

```
trac-id__6094 6094
type__enhancement enhancement
reporter__exarkun exarkun
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__names names
keywords__ 
time__1349877160000000 1349877160000000
changetime__1349877160000000 1349877160000000
version__None None
owner__ 

```
</details>
