Buggy handling of CNAME records

|[<img alt="mithrandi's avatar" src="https://avatars.githubusercontent.com/u/856430?s=50" width="50" height="50">](https://github.com/mithrandi)| @mithrandi reported|
|-|-|
|Trac ID|trac#9493|
|Type|defect|
|Created|2018-07-19 17:12:47Z|

As per RFC1034 section 3.6.2:

If a CNAME RR is present at a node, no other data should be present; this ensures that the data for a canonical name and its aliases cannot be different.

However, twisted.names does not follow this:


```
mithrandi@lorien ~> dig +norecurse @66.35.39.66 twistedmatrix.com a
; <<>> DiG 9.11.3-2-Debian <<>> +norecurse @66.35.39.66 twistedmatrix.com a
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 41397
;; flags: qr aa; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; QUESTION SECTION:
;twistedmatrix.com.             IN      A
;; ANSWER SECTION:
twistedmatrix.com.      300     IN      CNAME   d13xzgq5cfudab.cloudfront.net.
;; Query time: 285 msec
;; SERVER: 66.35.39.66#53(66.35.39.66)
;; WHEN: Thu Jul 19 18:41:22 SAST 2018
;; MSG SIZE  rcvd: 78
mithrandi@lorien ~> dig +norecurse @66.35.39.66 twistedmatrix.com mx
; <<>> DiG 9.11.3-2-Debian <<>> +norecurse @66.35.39.66 twistedmatrix.com mx
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 37103
;; flags: qr aa; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0
;; QUESTION SECTION:
;twistedmatrix.com.             IN      MX
;; ANSWER SECTION:
twistedmatrix.com.      300     IN      MX      10 mxa.mailgun.org.
twistedmatrix.com.      300     IN      MX      10 mxb.mailgun.org.
;; Query time: 287 msec
;; SERVER: 66.35.39.66#53(66.35.39.66)
;; WHEN: Thu Jul 19 18:41:29 SAST 2018
;; MSG SIZE  rcvd: 86
```

This will result in inconsistent results. For example, if the CNAME is cached first, DNS caches will respect it; whereas if the non-CNAME records are cached first these may be returned bypassing the CNAME even if it is cached later.

<details><summary>Searchable metadata</summary>

```
trac-id__9493 9493
type__defect defect
reporter__mithrandi mithrandi
priority__normal normal
milestone__None None
branch__ 
branch_author__ 
status__new new
resolution__None None
component__names names
keywords__None None
time__1532020367123128 1532020367123128
changetime__1532020367123128 1532020367123128
version__None None
owner__None None

```
</details>
