twisted.names.server never truncates datagram response messages

|[<img alt="wallrj's avatar" src="https://avatars.githubusercontent.com/u/978965?s=50" width="50" height="50">](https://github.com/wallrj)| @wallrj reported|
|-|-|
|Trac ID|trac#6949|
|Type|defect|
|Created|2014-02-06 17:19:11Z|
|Branch|https://github.com/twisted/twisted/tree/names-truncate-udp-6949|

Until it supports [EDNS0](https://twistedmatrix.com/trac/wiki/EDNS0), twisted.names.server ought to limit the size of
its response messages to 512B.

But because of the way dns.Message.decode sets the maxSize=0 and because of the
way server re-uses the request message for its responses, it never actually
truncates large messages.

This probably means that some responses will be dropped or fragmented on their
route across the Internet, which means that clients have to wait for a timeout
before re-issuing the query over TCP.

If instead, the response was properly truncated, the client would receive the
response and immediately issue a TCP query.

Here's a demo using a pyzone containing more A records than will fit in a 512B
response.

```
$ twistd -n dns --port 10053 --pyzone=docs/projects/names/howto/listings/names/example-domain.com
```

```
$ dig -p 10053 @localhost ns1.example-domain.com A +norecurse +notcp +ignore
...
;; flags: qr aa ad; QUERY: 1, ANSWER: 229, AUTHORITY: 0, ADDITIONAL: 0
...

ns1.example-domain.com.	3600	IN	A	127.0.0.1
ns1.example-domain.com.	3600	IN	A	127.0.0.1
ns1.example-domain.com.	3600	IN	A	127.0.0.2

;; Query time: 9 msec
;; SERVER: 127.0.0.1#10053(127.0.0.1)
;; WHEN: Thu Feb 06 17:09:45 GMT 2014
;; MSG SIZE  rcvd: 3704

```

Note that the datagram response was 3704B and contained the complete RRSET (ending in 127.0.0.2)

Now if we try again with the following patch applied
```
Index: twisted/names/dns.py
===================================================================
--- twisted/names/dns.py	(revision 41582)
+++ twisted/names/dns.py	(working copy)
@@ -2139,7 +2139,7 @@


     def decode(self, strio, length=None):
-        self.maxSize = 0
+#        self.maxSize = 0
         header = readPrecisely(strio, self.headerSize)
         r = struct.unpack(self.headerFmt, header)
         self.id, byte3, byte4, nqueries, nans, nns, nadd = r

```

```

$ dig -p 10053 @localhost ns1.example-domain.com A +norecurse +notcp +ignore
;; Warning: Message parser reports malformed message packet.

; <<>> DiG 9.9.3-rl.13207.22-P2-RedHat-9.9.3-14.P2.fc19 <<>> -p 10053 @localhost ns1.example-domain.com A +norecurse +notcp +ignore
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 16064
;; flags: qr aa tc ad; QUERY: 1, ANSWER: 229, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: Messages has 6 extra bytes at end

...
ns1.example-domain.com.	3600	IN	A	127.0.0.1
ns1.example-domain.com.	3600	IN	A	127.0.0.1
ns1.example-domain.com.	3600	IN	A	127.0.0.1
ns1.example-domain.com.	3600	IN	A	127.0.0.1

;; Query time: 8 msec
;; SERVER: 127.0.0.1#10053(127.0.0.1)
;; WHEN: Thu Feb 06 17:13:53 GMT 2014
;; MSG SIZE  rcvd: 512


```

We see that the message has been limited to 512B and the TC flag has been set.

But we also see another problem; that the message hasn't been truncated
properly, just chopped off at 512B instead of at a record boundary....but that's
a separate issue.

I noticed this while working on [#6645](https://github.com/twisted/twisted/issues/6645) because instead of using the request
message I'm generating a new response message whose maxSize defaults to 512.


Attachments:

* [ticket#6949.patch](https://raw.githubusercontent.com/twisted/twistedmatrix.com-trac-attachments/trunk/ticket/403/403f0fe6fbadbfff9f9133475034f7ee11d65e4c/2090caadd2dd16864c4e25324c7031df7ca19483.patch) (3923 bytes) - added by philippe.goetz on 2014-06-13 09:38:01Z - 

<details><summary>Searchable metadata</summary>

```
trac-id__6949 6949
type__defect defect
reporter__rwall rwall
priority__high high
milestone__ 
branch__branches_names_truncate_udp_6949 branches/names-truncate-udp-6949
branch_author__jml jml
status__new new
resolution__None None
component__names names
keywords__ 
time__1391707151000000 1391707151000000
changetime__1413475793813915 1413475793813915
version__None None
owner__philippe_goetz philippe.goetz
cc__free.ekanayaka
```
</details>


|[<img alt="wallrj's avatar" src="https://avatars.githubusercontent.com/u/978965?s=50" width="50" height="50">](https://github.com/wallrj)<a name="note_1"></a>|@wallrj commented|
|-|-|

See [#6964](https://github.com/twisted/twisted/issues/6964) which probably needs to be fixed before this.

|<img alt="philippe.goetz's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_2"></a>|philippe.goetz commented|
|-|-|

For a project, I need a DNS whose is able to manage large response (larger then the maxPacketSize in my case 8192).

Beyond the fact stated in this ticket, that maxSize was always 0 and by the way m.trunc is never set to True on the DNS server side.

When the DNS server side was corrected and m.trunc correctly computed, there was another annoying bug that appeared on the DNS client side.
The TCP request (related to the truncated UDP request) was not made made on the same DNS server which returned the truncated answer. It is more than likely that this other DNS server was not able to answer to the request!

The included patch includes both fixes and all changes required in test (transport.maxPacketSize).

The patch is made against version 14.0.0.


|<img alt="philippe.goetz's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_3"></a>|philippe.goetz commented|
|-|-|

I used the transport.maxPacketSize for m.maxSize.
In many discussion, the UDP limit is set to a maximum of 512.
(see https://en.wikipedia.org/wiki/Domain_Name_System and RFC1035 Clause 2.3.4)

So the patch would be probably look like that:

```
m.maxSize = self.transport.maxPacketSize
if m.maxSize > 512:
    m.maxSize = 512
```
or
```
m.maxSize = min([512, self.transport.maxPacketSize])
```


|<img alt="philippe.goetz's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_4"></a>|philippe.goetz commented|
|-|-|

This bug is quite critical as soon you have long replies, e.g. many DNS-SD records.
It would worth to patch python.names to make it useful.

I already claimed debian maintainers to include the patch in jessie.

|<img alt="free.ekanayaka's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_5"></a>|free.ekanayaka commented|
|-|-|

Any comment about the patch philippe.goetz attached? I'm considering including it in the Debian package, but I'd appreciate some feedback from upstream first.

|[<img alt="jml's avatar" src="https://avatars.githubusercontent.com/u/125674?s=50" width="50" height="50">](https://github.com/jml)|@jml set owner to @jml|
|-|-|


|[<img alt="jml's avatar" src="https://avatars.githubusercontent.com/u/125674?s=50" width="50" height="50">](https://github.com/jml)<a name="note_8"></a>|@jml commented|
|-|-|

(In [43389]) Branching to names-truncate-udp-6949.

|[<img alt="jml's avatar" src="https://avatars.githubusercontent.com/u/125674?s=50" width="50" height="50">](https://github.com/jml)<a name="note_9"></a>|@jml commented|
|-|-|

Thanks for the patch, Philippe. Some comments:

1. My understanding is that the problem here is that the response for UDP queries should always be 512B or under, and that we are not doing that. Is this correct?
1. This patch needs tests. The test modifications in the patch still pass even without the corresponding code changes. Until they are added, it's not clear that the code solves the problem.
1. The patch doesn't seem to address the problem in the original ticket description, but rather some separate bug in the client. Please file a separate ticket, and re-attach this patch.
1. The section in `filterAnswers` after "Build a new connection with the server" duplicates logic found in `queryTCP`. I think the cleanest way to fix this is to make `address` an optional parameter of `queryTCP`, and move both the "Build a new connection" and "Try to reuse a connection" bits of logic into `queryTCP`.
1. "reuse" -> "re-use".
1. Doing this will let you delete `timeout`, which saves us another magic number.
1. Please wrap lines at 79 columns. (The comment "NOTE: UDP server...").
1. Please mention which RFC, as well as the section that specifies the behaviour.
1. "nother" -> "another"
1. The "TODO" is not actually a TODO. Please at least describe what needs to be done.
1. I really don't understand what's going on with the change to `dns.py`. This might well be due to my lack of familiarity with `twisted.names`

Thanks again for the patch. Please feel free to assign the new ticket to me once it's ready for another round of review. 

|[<img alt="jml's avatar" src="https://avatars.githubusercontent.com/u/125674?s=50" width="50" height="50">](https://github.com/jml)|@jml set owner to philippe.goetz|
|-|-|
