_ChunkedTransferDecoder chokes on trailer headers

|[<img alt="ivilata's avatar" src="https://avatars.githubusercontent.com/u/420791?s=50" width="50" height="50">](https://github.com/ivilata)| @ivilata reported|
|-|-|
|Trac ID|trac#9685|
|Type|defect|
|Created|2019-08-02 22:32:10Z|

With Twisted 19.2.1, `_ChunkedTransferDecoder` raises a `twisted.web.http._DataLoss` error when a chunked response contains headers in its trailer (see RFC 7230 section 4.1.2, or the `Trailer` entry in MDN), for instance:


```
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Trailer: X-Foo

2
xx
0
X-Foo: bar

```

`_ChunkedTransferDecoder._dataReceived_TRAILER` gets `X-Foo: bar\r\n\r\n` as `data` and it doesn't move into the `FINISHED` state since that doesn't begin with `\r\n`.

To reproduce the error I use the attached files. `chunked.http` contains the whole response (with CRLF line ends); I run `nc -l -p 8080 < chunked.http`. Then I run `client.py` and get:


```
Response received
Unhandled error in Deferred:

Traceback (most recent call last):
Failure: twisted.web._newclient.ResponseFailed: [<twisted.python.failure.Failure twisted.internet.error.ConnectionLost:
 Connection to the other side was lost in a non-clean fashion: Connection lost.>,
 <twisted.python.failure.Failure twisted.web.http._DataLoss:
 Chunked decoder in 'TRAILER' state, still expecting more data to get to 'FINISHED' state.>]

```

If I remove the `Trailer` header and `X-Foo` trailer from `chunked.http` and repeat the experiment, the program succeeds:

```
Response received
DATA: b'xx'
```

The behavior I would expect is that the decoder would successfully decode and read the body, even if it didn't add the trailer headers into the response.

Thank you very much!

Attachments:

* [chunked.http](https://raw.githubusercontent.com/twisted/twistedmatrix.com-trac-attachments/trunk/ticket/e01/e01c5f8e4bd2f4ffa54c32896489ce697f5a2b25/1b84fde47c4b5551735cf1027c241a0b9273ef89.http) (87 bytes) - added by ivilata on 2019-08-02 22:33:32Z - HTTP response dump, chunked with trailer header.
* [client.py](https://raw.githubusercontent.com/twisted/twistedmatrix.com-trac-attachments/trunk/ticket/e01/e01c5f8e4bd2f4ffa54c32896489ce697f5a2b25/83c82b69e709f001cbef03ab0a6551df344cfad7.py) (595 bytes) - added by ivilata on 2019-08-02 22:34:39Z - Sample HTTP client program for triggering error on capture access.

<details><summary>Searchable metadata</summary>

```
trac-id__9685 9685
type__defect defect
reporter__ivilata ivilata
priority__normal normal
milestone__None None
branch__ 
branch_author__ 
status__new new
resolution__None None
component__core core
keywords__chunked__trailer__parsing chunked, trailer, parsing
time__1564785130264526 1564785130264526
changetime__1564785130264526 1564785130264526
version__None None
owner__None None

```
</details>
