conch\telnet.py does not allow for Binary Transmission or End of Record

|<img alt="kench's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">| kench reported|
|-|-|
|Trac ID|trac#4226|
|Type|enhancement|
|Created|2010-01-15 21:43:41Z|

The state machine as implemented in the Telnet.dataReceived method will have problems when the options for Binary Transmission (RFC856) or End of Record (RFC885) have been negotiated, whether explicitly or implicitly as part of some other negotiated option, such as TN3270E (RFC2355).

(1) When the telnet session is in binary mode the state machine should not be transitioning into 'newline' state when a byte value of '\r' is encountered.

(2) It needs to allow for receiving an IAC EOR command delimiting a data record.


<details><summary>Searchable metadata</summary>

```
trac-id__4226 4226
type__enhancement enhancement
reporter__kench kench
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__conch conch
keywords__telnet telnet
time__1263591821000000 1263591821000000
changetime__1263606752000000 1263606752000000
version__None None
owner__ 

```
</details>


|<img alt="kench's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_1"></a>|kench commented|
|-|-|

Suggestion for (1): Define a new attribute, self.binaryMode = False, that can then be overridden to True when an option requiring binary mode is negotiated.  Then use that attribute in Telnet.dataReceived to guard the transition to 'newline' state:

```
            if self.state == 'data':
                if b == IAC:
                ...
-                elif b == '\r':
+                elif b == '\r' and not self.binaryMode:
                    self.state = 'newline'
```

Suggestion for (2): Define a new command constant for EOR and add another elif clause to the 'escaped' state:

```
+EOR =            chr(239) # End of record.
            ...
            elif self.state == 'escaped':
                if b == IAC:
                ...
+                elif b == EOR:
+                    self.state = 'data'
+                    appDataBuffer.extend([IAC, EOR])
                else:
```


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_2"></a>|@exarkun commented|
|-|-|

Should IAC EOR really be delivered as application bytes?  I have perhaps imagined something more like the `commandReceived` case for this.


|<img alt="kench's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_3"></a>|kench commented|
|-|-|

Replying to [exarkun](#note_2):
> Should IAC EOR really be delivered as application bytes?  I have perhaps imagined something more like the `commandReceived` case for this.

Despite being implemented as an IAC command, IAC EOR is a delimiter -- more like a CR/LF than a "command".

|<img alt="Automation's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">|Automation removed owner|
|-|-|
