twisted.conch.ssh.transport should initiate key exchange after a while

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)| @exarkun reported|
|-|-|
|Trac ID|trac#4790|
|Type|defect|
|Created|2011-01-06 23:31:01Z|

RFC 4253, section 9 says:


   It is RECOMMENDED that the keys be changed after each gigabyte of
   transmitted data or after each hour of connection time, whichever
   comes sooner.  However, since the re-exchange is a public key
   operation, it requires a fair amount of processing power and should
   not be performed too often.

Conch never initiates a re-exchange.  If Conch talks to a peer which does initiate re-exchange according to this recommendation, everything is fine.  But if it talks to a peer which does not (say, another Conch-based program), rekeying will never happen.  If the connection lives long enough, this may leak session key material which could compromise the connection.


<details><summary>Searchable metadata</summary>

```
trac-id__4790 4790
type__defect defect
reporter__exarkun exarkun
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__conch conch
keywords__ 
time__1294356661000000 1294356661000000
changetime__1294356661000000 1294356661000000
version__None None
owner__ 

```
</details>


|<img alt="Automation's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">|Automation removed owner|
|-|-|
