twisted.web.server doesn't support HTTP pipelining

**Describe the incorrect behavior you saw**
twisted.web.server responds in wrong order

**Describe how to cause this behavior**

https://gist.github.com/mukeran/01874b38334bb7618415695d666a3f29

When running the above code with `xxx.xxx.xxx.xxx:10780` as the target reverse proxy site and sending the following HTTP pipeline request to twisted, it seems that twisted processes the request asynchronously.

The `/hello` route responds first, then the `/reverse` route responds. The pipeline response is out-of-order.

```http
GET /reverse HTTP/1.1
Host: a.com
Connection: keep-alive

GET /hello HTTP/1.1
Host: a.com
Connection: close

```

**Describe the correct behavior you'd like to see**
Twisted should send the response of `/reverse` first instead of `/hello`'s.

**Testing environment**

 - Operating System and Version:
     ```
     Linux *** 6.2.0-26-generic #26~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Thu Jul 13 16:27:29 UTC 2 x86_64 x86_64 x86_64 GNU/Linux
     DISTRIB_ID=Ubuntu
     DISTRIB_RELEASE=22.04
     DISTRIB_CODENAME=jammy
     DISTRIB_DESCRIPTION="Ubuntu 22.04.2 LTS"
    ```
 - Twisted version: 23.8.0



Thanks for the report.
Sorry. I don't understand how you are testing this.

Can you please provide a complete example, including the client code and the server behind the reverse proxy?

----------


>  it seems that twisted processes the request asynchronously.

This is the core feature of Twisted.
It's an async framework.

So async behaviour is a feature, not a bug.

Regards


For the test:
- Server: use `python3 -m http.server 10780` to start a simple HTTP server with a index.html in current directory.
- Client: save the HTTP request into a file and use `cat request.http | nc 127.0.0.1 8080` to perform the request.

The HTTP pipeline (https://en.wikipedia.org/wiki/HTTP_pipelining) should be responded in the order the requests arrive.
The requests can be processed asynchronously but the responses should be sent in right order.

I am not sure HTTP pipelining is supported

start this Twisted HTTP server


```python
from twisted.internet import reactor, endpoints
from twisted.web import server
from twisted.web.proxy import ReverseProxyResource
from twisted.web.resource import Resource

class Second(Resource):
    isLeaf = True
    def render_GET(self, request):
        return b'SECOND\n'

class First(Resource):
    isLeaf = True
    def render_GET(self, request):
        def send_response():
            request.write(b'FIRST DELAYED\n')
            request.finish()
        reactor.callLater(0.5, send_response)
        return server.NOT_DONE_YET

root = Resource()

root.putChild(b'second', Second())
root.putChild(b'first', First())

endpoint = endpoints.TCP4ServerEndpoint(reactor, 8080)
endpoint.listen(server.Site(root))
reactor.run()
```

and then trigger the client request using

```shell
echo -en "GET /first HTTP/1.1\r\nHost: a\r\n\r\nGET /second HTTP/1.1\r\nHost: a\r\n\r\n" | nc localhost 8080
```

I don't see any obvious documentation for Twisted HTTP server or client stating that HTTP pipelining is supported.

For the client side, I can see a comment in the code that pipelining is not yet supported.

I know that this is supposed to be standard HTTP 1.1 but I think this is more of feature request than a bug.

Happy to review a PR that will fix this :)

Thanks again for the report

[RFC 9112 section 9.3.2](https://datatracker.ietf.org/doc/html/rfc9112#section-9.3.2-1) said that a server "MUST send the corresponding responses in the same order that the requests were received".

From my perspective, twisted actually support HTTP pipeline. If not, twisted should block the connection after receiving the first request before sending the first response. However, twisted accepts two requests in parallel.

So I suggest twisted should remove the parallel processing ability or respond the requests in order that they arrive.

@mukeran you are definitely correct here, if that is the behavior. We have unit tests which demonstrate queueing and dequeueing of requests for exactly this reason, and I'm not sure how real-life traffic is circumventing that logic.

I agree that HTTP pipeline is not supported by state-of-the-art browsers now. However, HTTP pipeline is still a spec in HTTP/1.1. There may be some implementation that still support it, as the Wikipedia page lists.

This can be a security vulnerability if a twisted server has two endpoints, and one of which is controlled by the attack. When an upstream server requests two endpoints using a HTTP pipeline, the attacker can delay its own response, in order to make the second request's response arrive first. The response of second request will forward to the user who launch the first request on the upstream server.

@glyph You can use the following script and command edited by @adiroiban to replay this issue:

> ```python
> from twisted.internet import reactor, endpoints
> from twisted.web import server
> from twisted.web.proxy import ReverseProxyResource
> from twisted.web.resource import Resource
> 
> class Second(Resource):
>     isLeaf = True
>     def render_GET(self, request):
>         return b'SECOND\n'
> 
> class First(Resource):
>     isLeaf = True
>     def render_GET(self, request):
>         def send_response():
>             request.write(b'FIRST DELAYED\n')
>             request.finish()
>         reactor.callLater(0.5, send_response)
>         return server.NOT_DONE_YET
> 
> root = Resource()
> 
> root.putChild(b'second', Second())
> root.putChild(b'first', First())
> 
> endpoint = endpoints.TCP4ServerEndpoint(reactor, 8080)
> endpoint.listen(server.Site(root))
> reactor.run()
> ```
> 
> and then trigger the client request using
> 
> ```shell
> echo -en "GET /first HTTP/1.1\r\nHost: a\r\n\r\nGET /second HTTP/1.1\r\nHost: a\r\n\r\n" | nc localhost 8080
> ```



Ugh. I see the bug. It's only when multiple requests are sent in the same TCP segment. 🤦 

OK, #11976 is up for review if anyone has time. @mukeran since I'm a committer we will honor your review if it is sufficiently thorough — we allow non-committers to do code reviews as long as they follow the process.

Sorry, I would like to but I am not familiar with the review process.

Can I ask for a CVE number for this? Or start a security advisory?
This misbehavior can be leveraged to manipulate pipeline response by intentionally delay the response, if one of the endpoints is compromised.

I suppose there's technically a vulnerability here, and the exploit is sufficiently esoteric that it's not that bad to have pre-disclosure here.  One available mitigation is to use HTTP/2 everywhere.

So yes, start a security advisory and a CVE, and we'll try to do a release soon.

Thanks!

Assuming this became CVE-2023-46137 / GHSA-xc8x-vp79-p3wm ?

> Assuming this became [CVE-2023-46137](https://github.com/advisories/GHSA-xc8x-vp79-p3wm) / [GHSA-xc8x-vp79-p3wm](https://github.com/advisories/GHSA-xc8x-vp79-p3wm) ?

Yep.