Twisted's IMAP server seems do badly answer to FETCH request with partial fetch

|<img alt="Goffi's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">| Goffi reported|
|-|-|
|Trac ID|trac#5613|
|Type|defect|
|Created|2012-04-04 16:38:08Z|
|Branch|https://github.com/twisted/twisted/tree/partial-fetch-5613-2|

Hello,

I'm using twisted as a client, and testing it with a basic twisted server. I'm trying to do a partial FETCH, but I have an error in my IMAP client ("Not enough arguments").


After some investigations, i see that the client expect a partial value of the form BODY[]<origin> with "origin" a number, but get something like <origin.lenght>.

According to [RFC2060 §7.4.2](http://tools.ietf.org/html/rfc2060#section-7.4.2), the FETCH answer must be of the form BODY[<section>]<<origin_octet>> with origin_octet a number, so the client is right, but the server is doing something wrong.

The comment at [imap4.py l.3613](http://twistedmatrix.com/trac/browser/tags/releases/twisted-12.0.0/twisted/mail/imap4.py#L3613) is wrong (it says "<N.M>" instead of "<N>"), and the server is sending back a bad answer (it give back a FETCH of the form BODY[]<N.M> instead of BODY[]<N>). In addition, the server doesn't truncate the message as expected.

Here is the log of the client/server dialog, sorry I can't furnish the full sources:

C: '0006 UID FETCH 1 BODY[]<0.4096>'


S: ```'* 1 FETCH (BODY[]<0.4096> {131}'```   '''```<=== here it should be '* 1 FETCH (BODY[]<0> {131}'```'''


S: ' UID 1)'


S: '0006 OK FETCH completed'


I have made a try with a 40 bytes limit, and the answer is far too long:

C: '0006 UID FETCH 1 BODY[]<0.40>'


S: ```'* 1 FETCH (BODY[]<0.40> {131}'```   '''```<=== here it should be '* 1 FETCH (BODY[]<0> {40```}__


S: ' UID 1)'


S: '0006 OK FETCH completed'

The issue seems to be located in [spew_body](http://twistedmatrix.com/trac/browser/tags/releases/twisted-12.0.0/twisted/mail/imap4.py#L1967) method: it write str(part) which return in my case BODY[]<0.4096>, that's good for IMAP's client, but not for server's answer.

I hope my explanation is clear enough :)

Cheers
Goffi


Attachments:

* [5613-FETCH_Partial-20120718.patch](https://raw.githubusercontent.com/twisted/twistedmatrix.com-trac-attachments/trunk/ticket/4eb/4eb3b1a9dce6996ec3cf621f9b8f76126bdac145/f32ffbf0484274665de846fe01466dbd2b3398b1.patch) (14980 bytes) - added by argonemyth on 2012-07-18 22:16:29Z - 

<details><summary>Searchable metadata</summary>

```
trac-id__5613 5613
type__defect defect
reporter__Goffi Goffi
priority__high high
milestone__ 
branch__branches_partial_fetch_5613_2 branches/partial-fetch-5613-2
branch_author__shira shira
status__new new
resolution__None None
component__mail mail
keywords__imap imap
time__1333557488000000 1333557488000000
changetime__1409843853305938 1409843853305938
version__None None
owner__shira shira
cc__argonemyth
```
</details>


|[<img alt="argonemyth's avatar" src="https://avatars.githubusercontent.com/u/965739?s=50" width="50" height="50">](https://github.com/argonemyth)<a name="note_2"></a>|@argonemyth commented|
|-|-|

Hi,

I added the partial fetch functionality in imap4.py. I tried different approaches, and decided that it's best to put it in **FileProducer** class. Since all the producers in imap4.py are rather old, I will open a ticket and make them proper interface implementations. 

I also modified the **fetchSpecific** method in **IMAP4Client** class. According to RFC2060 (http://tools.ietf.org/html/rfc2060#section-6.4.5), 'HEADER' part specifiers doesn't need a list of field name. Without the modification, a BODY[HEADER] fetch command will fail.

I also added 6 tests for the different types of partial fetching.

Please review the patch, thanks!

|[<img alt="washort's avatar" src="https://avatars.githubusercontent.com/u/947487?s=50" width="50" height="50">](https://github.com/washort)<a name="note_3"></a>|@washort commented|
|-|-|

Thanks for the patch.

In twisted.mail.test.test_imap:
test methods' names need to start with `test_`.

In twisted.mail.imap4:
Line 1980: Remove extra spaces inside parens.
Line 5303-4: Remove extra space around '=' in kwargs.

Line 1994 (`return FileProducer(...)`) is not covered by tests.



|[<img alt="washort's avatar" src="https://avatars.githubusercontent.com/u/947487?s=50" width="50" height="50">](https://github.com/washort)|@washort set owner to @argonemyth|
|-|-|


|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)<a name="note_5"></a>|@staceysern commented|
|-|-|

(In [39698]) Branching to 'partial-fetch-5613'

|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)|@staceysern set owner to @staceysern|
|-|-|


|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)<a name="note_7"></a>|@staceysern commented|
|-|-|

(In [39708]) Fixed twistedchecker errors

refs [#5613](https://github.com/twisted/twisted/issues/5613)

|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)<a name="note_8"></a>|@staceysern removed owner|
|-|-|

Applied the patch, made the requested revisions, added the missing unit test and a topfile, and fixed some issues flagged by twistedchecker.

|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)<a name="note_9"></a>|@staceysern commented|
|-|-|

(In [39793]) Revised new API documentation

refs [#5613](https://github.com/twisted/twisted/issues/5613)

|[<img alt="wallrj's avatar" src="https://avatars.githubusercontent.com/u/978965?s=50" width="50" height="50">](https://github.com/wallrj)|@wallrj set owner to @wallrj<br>@wallrj set status to `assigned`|
|-|-|


|[<img alt="wallrj's avatar" src="https://avatars.githubusercontent.com/u/978965?s=50" width="50" height="50">](https://github.com/wallrj)<a name="note_11"></a>|@wallrj set owner to @staceysern<br>@wallrj set status to `new`|
|-|-|

Thanks argonemyth and shira for working on this.

Notes:
 * Merges cleanly
 * Forced a new build. Results look good.
   * Some unrelated pyflakes warnings. Caused, I think, by a recent buildbot
     upgrade.

Points:
 1. [branches/partial-fetch-5613/twisted/mail/test/test_imap.py](branches/partial-fetch-5613/twisted/mail/test/test_imap.py)
    1. FakeyMessageNonMIME
       1. Use the @implementer decorator in new code
       2. Need another blank line above "def open"
    2. test_fetchBodyHeaderWithOffset
       1. I see that you've followed the style of the existing tests which has
          the advantage of keeping the tests consistent. But on the other hand,
          maybe we should start updating the tests to our new standards.  If you
          agree, consider the following points:
          1. Replace  "should return" with "is returned"
          2. Include an L{} link to the API under test.
          3. Remove the "Don't think this is particularly useful" comment.
          4. Remove the @return documentation. It's not necessary in test
             methods.
          5. It was difficult to understand why the test assigns so many
             instance attributes. It implies that there is another method
             operating on those attributes during the test, but I couldn't see
             what that was.
             1. If possible just use local variables. These should still be
                accessible from closures within the test method.
             2. For example it doesn't seem necessary to create self.function
                and self.result
       2. Same goes for the other new test methods.
       3. The new tests all seem quite long and complicated and maybe not as
          unity as they could be. Would it be possible to test the IMAP4Server
          methods directly instead? Eg a test which calls spew_body,
          fetchSpecific directly.
       4. I think there should certainly be new separate TestCases for
          MessageProducer, and FileProducer.

 2. [branches/partial-fetch-5613/twisted/mail/imap4.py](branches/partial-fetch-5613/twisted/mail/imap4.py)
    1. Add two blank lines above "spew_body"
    2. Add a docstring for "spew_body"
    3. Maybe the new string literals should be written as `b''` - if they are
       bytes.
    4. Missing docstrings for MessageProducer.start and length arguments and
       ivars.
    5. Do start and length have to be public attributes? Better to keep them
       private if possible.
    6. Add a docstring for MessageProducer._produce
    7. Missing ivar docstrings for FileProducer.start and length
    8. "The starting position of desired octet" doesn't make sense to me. Should
       it be "The byte offset at which to start reading".

 3. In comment:2, argonomyth talked about creating a new ticket for making
    proper interface implementations.
    1. Was that ever done?
    2. If so, add links to the new tickets in this ticket.


Please address or answer the numbered points above, check for clean build
results and resubmit for another review.

-RichardW.


|[<img alt="staceysern's avatar" src="https://avatars.githubusercontent.com/u/3631162?s=50" width="50" height="50">](https://github.com/staceysern)<a name="note_12"></a>|@staceysern commented|
|-|-|

(In [43002]) Branching to 'partial-fetch-5613-2'