t.w.xmlrpc.Proxy should handle IPv6 literal URLs

|[<img alt="philmayers's avatar" src="https://avatars.githubusercontent.com/u/739238?s=50" width="50" height="50">](https://github.com/philmayers)| @philmayers reported|
|-|-|
|Trac ID|trac#6871|
|Type|enhancement|
|Created|2013-12-09 14:59:57Z|

It looks like the use of urlparse and handling of it's return value won't handle IPv6 literal URLs like:
```
http://[::1]:8000/foo
```
...as the form
```
  hostport = netlocParts[0].split(':')
```
will fail to work correctly.


<details><summary>Searchable metadata</summary>

```
trac-id__6871 6871
type__enhancement enhancement
reporter__philmayers philmayers
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__web web
keywords__xmlrpc_ipv6 xmlrpc ipv6
time__1386601197000000 1386601197000000
changetime__1386652805000000 1386652805000000
version__None None
owner__ 
cc__jknight
```
</details>


|[<img alt="glyph's avatar" src="https://avatars.githubusercontent.com/u/716529?s=50" width="50" height="50">](https://github.com/glyph)<a name="note_2"></a>|@glyph commented|
|-|-|

The way to handle this properly is documented in [RFC 3986, section 3.2.2.](http://pretty-rfc.herokuapp.com/RFC3986#host).  We should probably have a ticket for handling this in some higher-level abstraction before we implement it specifically for XML-RPC.  Do we?