twisted names exception with getHostByName()

|<img alt="jonojono's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">| jonojono reported|
|-|-|
|Trac ID|trac#8041|
|Type|defect|
|Created|2015-10-05 03:45:55Z|

An exception is thrown when using twisted.names.client.getHostByName() on certain hostnames.

An example to reproduce:

```
# cat dns.py
...
@defer.inlineCallbacks
def test_dns(reactor, domain):
    result = yield client.getHostByName(domain, timeout=(1, 2))
    print result

if __name__ == '__main__':
    task.react(test_dns, sys.argv[1:])
```

```
# python dns.py weblogin.umich.edu
main function encountered error
Traceback (most recent call last):
  File "/twisted/names/client.py", line 398, in _lookup
    d = self.queryUDP([dns.Query(name, type, cls)], timeout)
  File "/twisted/names/client.py", line 299, in queryUDP
    d = self._query(used, queries, timeout[0])
  File "/twisted/names/client.py", line 264, in _query
    d = protocol.query(*args)
  File "/twisted/names/dns.py", line 2802, in query
    return self._query(queries, timeout, id, writeMessage)
--- <exception caught here> ---
  File "/twisted/names/dns.py", line 2680, in _query
    writeMessage(m)
  File "/twisted/names/dns.py", line 2800, in writeMessage
    self.writeMessage(m, address)
  File "/twisted/names/dns.py", line 2728, in writeMessage
    self.transport.write(message.toStr(), address)
  File "/twisted/internet/udp.py", line 286, in write
    "write() only accepts IP addresses, not hostnames")
twisted.internet.error.InvalidAddressError: 
```

I've observed this exception thrown on hostnames that have both CNAME and A records in the answer section. See the dig output for weblogin.umich.edu:

```
# dig weblogin.umich.edu

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.37.rc1.el6_7.4 <<>> weblogin.umich.edu
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 40349
;; flags: qr rd ra; QUERY: 1, ANSWER: 5, AUTHORITY: 2, ADDITIONAL: 0

;; QUESTION SECTION:
;weblogin.umich.edu.            IN      A

;; ANSWER SECTION:
weblogin.umich.edu.     178     IN      CNAME   weblogin.dsc.umich.edu.
weblogin.dsc.umich.edu. 1800    IN      A       141.211.21.150
weblogin.dsc.umich.edu. 1800    IN      A       141.211.7.200
weblogin.dsc.umich.edu. 1800    IN      A       141.211.7.210
weblogin.dsc.umich.edu. 1800    IN      A       141.211.21.149

;; AUTHORITY SECTION:
dsc.umich.edu.          1800    IN      NS      dns2.itd.umich.edu.
dsc.umich.edu.          1800    IN      NS      dns1.itd.umich.edu.

;; Query time: 33 msec
;; SERVER: 1.1.1.1#53(1.1.1.1)
;; WHEN: Mon Oct  5 03:41:39 2015
;; MSG SIZE  rcvd: 169
```

<details><summary>Searchable metadata</summary>

```
trac-id__8041 8041
type__defect defect
reporter__jonojono jonojono
priority__high high
milestone__None None
branch__ 
branch_author__ 
status__new new
resolution__None None
component__names names
keywords__None None
time__1444016755835561 1444016755835561
changetime__1460040926788527 1460040926788527
version__None None
owner__pawelmhm pawelmhm

```
</details>


|[<img alt="pawelmhm's avatar" src="https://avatars.githubusercontent.com/u/2700942?s=50" width="50" height="50">](https://github.com/pawelmhm)<a name="note_1"></a>|@pawelmhm commented|
|-|-|

I tried reproducing this on current twisted trunk and I see everything works ok on my machine:

```

> python dns.py weblogin.umich.edu                                                                                                                                         
141.211.243.35
```

but I also noticed that dig response for  weblogin.umich.edu is different:


```
dig weblogin.umich.edu                                                                                                                                                    19:44:44

; <<>> DiG 9.9.5-3ubuntu0.8-Ubuntu <<>> weblogin.umich.edu
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 63006
;; flags: qr rd ra; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;weblogin.umich.edu.		IN	A

;; ANSWER SECTION:
weblogin.umich.edu.	245	IN	CNAME	weblogin.dsc.umich.edu.
weblogin.dsc.umich.edu.	1745	IN	A	141.211.243.35

;; Query time: 13 msec
;; SERVER: 127.0.1.1#53(127.0.1.1)
;; WHEN: Sat Mar 19 19:44:47 CET 2016
;; MSG SIZE  rcvd: 79

```


So either some recent changes in twisted.names fixed the problem, or weblogin.umich.edu changed so that it no longer throws error.

|[<img alt="pawelmhm's avatar" src="https://avatars.githubusercontent.com/u/2700942?s=50" width="50" height="50">](https://github.com/pawelmhm)<a name="note_2"></a>|@pawelmhm commented|
|-|-|

nope, bug is not fixed, I see I can reproduce this with following domain:

ultradns.net 
```
 ~/p/p/dev_twisted (trunk) python demo.py ultradns.net                                                                                                                                               21:24:52
***************************************************************************************************
line 2678, dns.py, [Query('ultradns.net', 255, 1)] 1 9746
***************************************************************************************************
line 2732 dns.py, <Message id=9746 flags=recDes queries=[Query('ultradns.net', 255, 1)]> ('127.0.1.1', 53)
***************************************************************************************************
line 2678, dns.py, [Query('ultradns.net', 1, 1)] 1 16634
***************************************************************************************************
line 2732 dns.py, <Message id=16634 flags=recDes queries=[Query('ultradns.net', 1, 1)]> ('ari.delta.aridns.net.au', 53)
udp line 283 ('ari.delta.aridns.net.au', 53)
main function encountered error
Traceback (most recent call last):
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/client.py", line 398, in _lookup
    d = self.queryUDP([dns.Query(name, type, cls)], timeout)
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/client.py", line 299, in queryUDP
    d = self._query(used, queries, timeout[0])
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/client.py", line 264, in _query
    d = protocol.query(*args)
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/dns.py", line 2806, in query
    return self._query(queries, timeout, id, writeMessage)
--- <exception caught here> ---
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/dns.py", line 2683, in _query
    writeMessage(m)
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/dns.py", line 2804, in writeMessage
    self.writeMessage(m, address)
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/names/dns.py", line 2732, in writeMessage
    self.transport.write(message.toStr(), address)
  File "/home/pawel/prog_langs/py/dev_twisted/twisted/internet/udp.py", line 287, in write
    "write() only accepts IP addresses, not hostnames")
twisted.internet.error.InvalidAddressError: 

```


|[<img alt="pawelmhm's avatar" src="https://avatars.githubusercontent.com/u/2700942?s=50" width="50" height="50">](https://github.com/pawelmhm)<a name="note_3"></a>|@pawelmhm set owner to @pawelmhm|
|-|-|

This is actually serious bug resulting from Twisted client doing dns ANY query. Response to ANY query can contain anything, not only A records which we're intending to catch. Response to ANY may contain NS records, and current client implementation incorrectly assumes that payload in NS record is ip address. 

Payload in NS record is not an ip address but hostname. RFC 1035 explicitly forbids having ip address in NS record, so NS record will never be ip address (see section 3.3.11 of RFC 1035 http://tools.ietf.org/html/rfc1035#page-18).

Looking into twisted trac there is agreement that dns client should not do DNS ANY query, see [#3019](https://github.com/twisted/twisted/issues/3019) and [#5718](https://github.com/twisted/twisted/issues/5718). Previous reports focus mostly on ANY query being not reliable, but they don't notice bad implementgation of NS records handling that is one of the consequence of twisted client doing ANY query.

The bug is located exactly at line 215: https://twistedmatrix.com/trac/browser/trunk/twisted/names/common.py#L215

line 
```
if r.type == dns.NS:
    # ...
    r = client.Resolver(servers=[(str(r.payload.name), dns.PORT)])

```

will always fail because NS record payload name will never be ip, and servers argument must be ip. 

So in nutshell proposed solution is to switch client.getHostByName() query type to A.

|[<img alt="pawelmhm's avatar" src="https://avatars.githubusercontent.com/u/2700942?s=50" width="50" height="50">](https://github.com/pawelmhm)<a name="note_4"></a>|@pawelmhm removed owner|
|-|-|

adding "review" tag to hear thoughts of others

> So in nutshell proposed solution is to switch client.getHostByName() query type to A.

The only problem with doing A query in getHostByName is that it won't return ip6 addresses, and current implementation does handle ip6 :/

Alternative approach is fixing bug in handling of NS records by adding better support for recursive resolving. The code there is in trunk seems to intend to do recursive lookup. Doing this properly may be more difficult though, it is also not default behavior of other clients: for example digg is doing A lookup by default, dnspython library also does A lookup by default https://github.com/rthalley/dnspython/blob/master/dns/resolver.py#L1023

|[<img alt="philmayers's avatar" src="https://avatars.githubusercontent.com/u/739238?s=50" width="50" height="50">](https://github.com/philmayers)<a name="note_5"></a>|@philmayers commented|
|-|-|

Replying to [pawelmhm](#note_4):

> The only problem with doing A query in getHostByName is that it won't return ip6 addresses, and current implementation does handle ip6 :/

Correct. The only reliable way to get both v4 and v6 addresses from DNS is to perform two separate queries, one with A and one with AAAA.

It's actually a lot of work to implement a stub resolver.

I personally think the default hostname lookups in Twisted should map onto the system getaddrinfo() in every place. If someone wants to swap them out, that's fine, but getaddrinfo does a *lot* of work that it's just not sensible (or even possible) to replicate in Twisted e.g. the system-wide RFC 6724 policy table processing.

You could consider deprecating this old-style API entirely and replacing it with stuff that's explicit about what it does, and does less.

|[<img alt="adiroiban's avatar" src="https://avatars.githubusercontent.com/u/204609?s=50" width="50" height="50">](https://github.com/adiroiban)<a name="note_6"></a>|@adiroiban commented|
|-|-|

+1 to philmayers

I agree to deprecate this. API

For generic dns resolving I think that Twisted should use the systems getaddrinfo... and the helper should be placed outside of twisted.named. I think that the new endpoints are already doing dns resolving.

For custom DNS queries once can call both A and AAA queries and aggregate the result.
If this is a common pattern we can create a helper in twisted.names

Thanks!

|[<img alt="pawelmhm's avatar" src="https://avatars.githubusercontent.com/u/2700942?s=50" width="50" height="50">](https://github.com/pawelmhm)<a name="note_7"></a>|@pawelmhm set owner to @pawelmhm|
|-|-|

ok thanks for thoughts will implement this