t.w.http must not set the Transfer-Encoding header for CONNECT requests

|[<img alt="mkzero's avatar" src="https://avatars.githubusercontent.com/u/42983905?s=50" width="50" height="50">](https://github.com/mkzero)| @mkzero reported|
|-|-|
|Trac ID|trac#9076|
|Type|defect|
|Created|2017-03-11 10:35:04Z|
|Branch|https://github.com/twisted/twisted/tree/9076-mkzero-t-w-web-connect-compatibility|

According to [RFC 7231 Section 4.3.6](https://tools.ietf.org/html/rfc7231#page-31) "A server MUST NOT send any Transfer-Encoding or Content-Length header fields in a 2xx (Successful) response to CONNECT".

Using t.w.http and thus t.w.proxy with connect requests does not adhere to this, so projects inheriting t.w.proxy for CONNECT proxies will break compatibility with this RFC as t.w.http does send these headers.

<details><summary>Searchable metadata</summary>

```
trac-id__9076 9076
type__defect defect
reporter__mkzero mkzero
priority__normal normal
milestone__None None
branch__9076_mkzero_t_w_web_connect_compatibility 9076-mkzero-t-w-web-connect-compatibility
branch_author__ 
status__new new
resolution__None None
component__web web
keywords__None None
time__1489228504317618 1489228504317618
changetime__1602406619350621 1602406619350621
version__None None
owner__twm twm

```
</details>


|[<img alt="mkzero's avatar" src="https://avatars.githubusercontent.com/u/42983905?s=50" width="50" height="50">](https://github.com/mkzero)<a name="note_1"></a>|@mkzero commented|
|-|-|

Fix in PR https://github.com/twisted/twisted/pull/741

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)|@exarkun set owner to @mkzero|
|-|-|


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)|@exarkun set owner to @exarkun|
|-|-|


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)|@exarkun set owner to @mkzero|
|-|-|


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_7"></a>|@exarkun commented|
|-|-|

Review https://github.com/twisted/twisted/pull/741#pullrequestreview-98231898

|[<img alt="twm's avatar" src="https://avatars.githubusercontent.com/u/43662?s=50" width="50" height="50">](https://github.com/twm)<a name="note_8"></a>|@twm commented|
|-|-|

Fixed conflicts in a new PR here: https://github.com/twisted/twisted/pull/1358

|[<img alt="twm's avatar" src="https://avatars.githubusercontent.com/u/43662?s=50" width="50" height="50">](https://github.com/twm)<a name="note_9"></a>|@twm removed owner|
|-|-|

The new PR is green, so ready for review.

|[<img alt="glyph's avatar" src="https://avatars.githubusercontent.com/u/716529?s=50" width="50" height="50">](https://github.com/glyph)|@glyph set owner to @twm|
|-|-|
