conch should send a more detailed version string

|[<img alt="cjwatson's avatar" src="https://avatars.githubusercontent.com/u/2429141?s=50" width="50" height="50">](https://github.com/cjwatson)| @cjwatson reported|
|-|-|
|Trac ID|trac#9424|
|Type|enhancement|
|Created|2018-04-15 11:11:20Z|

At the moment, the software version string that conch sends to the remote server is always simply 'Twisted'.  This means that servers can't include compatibility workarounds for bugs such as [#9422](https://github.com/twisted/twisted/issues/9422).  Like other clients (e.g. OpenSSH and PuTTY), conch should send something like 'Twisted_17.9.0' instead; the format is in RFC 4253, section 4.2.

<details><summary>Searchable metadata</summary>

```
trac-id__9424 9424
type__enhancement enhancement
reporter__cjwatson cjwatson
priority__normal normal
milestone__None None
branch__ 
branch_author__ 
status__closed closed
resolution__fixed fixed
component__conch conch
keywords__None None
time__1523790680555990 1523790680555990
changetime__1523859510074321 1523859510074321
version__None None
owner__Mark_Williams__mrw_____ Mark Williams <mrw@...>

```
</details>


|[<img alt="cjwatson's avatar" src="https://avatars.githubusercontent.com/u/2429141?s=50" width="50" height="50">](https://github.com/cjwatson)<a name="note_1"></a>|@cjwatson commented|
|-|-|

https://github.com/twisted/twisted/pull/1000

|[<img alt="markrwilliams's avatar" src="https://avatars.githubusercontent.com/u/704247?s=50" width="50" height="50">](https://github.com/markrwilliams)<a name="note_2"></a>|@markrwilliams commented|
|-|-|

https://github.com/twisted/twisted/pull/1000#pullrequestreview-112250799

|[<img alt="markrwilliams's avatar" src="https://avatars.githubusercontent.com/u/704247?s=50" width="50" height="50">](https://github.com/markrwilliams)<a name="note_3"></a>|@markrwilliams set owner to @markrwilliams<br>@markrwilliams set status to `closed`|
|-|-|

In changeset dffc6ab317e06dc6bc3dadc1003228c593ea3cc1
```
#!CommitTicketReference repository="" revision="dffc6ab317e06dc6bc3dadc1003228c593ea3cc1"
Merge pull request #1000 from cjwatson/9424-conch-send-detailed-version

Author: cjwatson

Reviewers: markrwilliams

Fixes: ticket:9424

Include Twisted's version in SSH ident string
```