twisted.web allows application code to set entity headers in a NOT MODIFIED response to a GET request using a weak validator

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)| @exarkun reported|
|-|-|
|Trac ID|trac#5214|
|Type|defect|
|Created|2011-08-01 23:45:53Z|

RFC 2068, section 10.3.5, states:

    If the conditional GET used a strong cache validator (see section 13.3.3), the response SHOULD NOT include other entity-headers. Otherwise (i.e., the conditional GET used a weak validator), the response MUST NOT include other entity-headers; this prevents inconsistencies between cached entity-bodies and updated headers.

_If-Modified-Since_ is a weak validator more often than not.  A _ETag_ may even be a weak validator in some cases.

`twisted.web.server.Request` sets _Content-Type_ even for _NOT MODIFIED_ responses (but [#4156](https://github.com/twisted/twisted/issues/4156) will probably fix this); it also **allows** application code to set any other entity-headers in this case.  To comply with the _MUST NOT_ in the quoted text above, it should probably avoid sending them in the response (eg, by removing them from `responseHeaders`).


<details><summary>Searchable metadata</summary>

```
trac-id__5214 5214
type__defect defect
reporter__exarkun exarkun
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__web web
keywords__ 
time__1312242353000000 1312242353000000
changetime__1312249880000000 1312249880000000
version__None None
owner__ 
cc__jknight
```
</details>


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_2"></a>|@exarkun commented|
|-|-|

Make that RFC 2616, perhaps.  The issue is unaffected.
