Support HTTP OPTIONS * requests

|[<img alt="Lukasa's avatar" src="https://avatars.githubusercontent.com/u/1382556?s=50" width="50" height="50">](https://github.com/Lukasa)| @Lukasa reported|
|-|-|
|Trac ID|trac#9190|
|Type|enhancement|
|Created|2017-06-20 08:56:41Z|
|Branch|https://github.com/twisted/twisted/tree/9190-lukasa-options-star|

RFC 7231 allows HTTP clients to issue requests that look roughly like this (HTTP/1.1 form, but also valid in H2):

```
OPTIONS * HTTP/1.1
Host: my.twisted.server

```

The specification has this to say about what this request means:

```
   An OPTIONS request with an asterisk ("*") as the request-target
   (Section 5.3 of [RFC7230]) applies to the server in general rather
   than to a specific resource.  Since a server's communication options
   typically depend on the resource, the "*" request is only useful as a
   "ping" or "no-op" type of method; it does nothing beyond allowing the
   client to test the capabilities of the server.  For example, this can
   be used to test a proxy for HTTP/1.1 conformance (or lack thereof).
```

Right now Twisted sends a 501 in response to this kind of request. We can probably do better than that: we should almost certainly send back a 200 OK. There is really no need to do anything else: almost all other headers are unnecessary to send in this context.

This should probably be a behaviour on `t.w.server.Request`, maybe in `process()`. This could short-circuit when it discovers a request for `*` and drop into a specific helper method.

<details><summary>Searchable metadata</summary>

```
trac-id__9190 9190
type__enhancement enhancement
reporter__Lukasa Lukasa
priority__normal normal
milestone__None None
branch__9190_lukasa_options_star 9190-lukasa-options-star
branch_author__ 
status__closed closed
resolution__fixed fixed
component__web web
keywords__None None
time__1497949001998973 1497949001998973
changetime__1502066582379593 1502066582379593
version__None None
owner__Amber_Brown__hawkowl_____ Amber Brown <hawkowl@...>

```
</details>


|[<img alt="Lukasa's avatar" src="https://avatars.githubusercontent.com/u/1382556?s=50" width="50" height="50">](https://github.com/Lukasa)<a name="note_1"></a>|@Lukasa commented|
|-|-|

Available for review at https://github.com/twisted/twisted/pull/824.

|[<img alt="wsanchez's avatar" src="https://avatars.githubusercontent.com/u/50002?s=50" width="50" height="50">](https://github.com/wsanchez)<a name="note_2"></a>|@wsanchez commented|
|-|-|

reviewed, open question in PR

|[<img alt="wsanchez's avatar" src="https://avatars.githubusercontent.com/u/50002?s=50" width="50" height="50">](https://github.com/wsanchez)<a name="note_4"></a>|@wsanchez commented|
|-|-|

Review updated, OK to merge but would prefer the 400 status.

|[<img alt="hawkowl's avatar" src="https://avatars.githubusercontent.com/u/3307100?s=50" width="50" height="50">](https://github.com/hawkowl)<a name="note_5"></a>|@hawkowl set owner to @hawkowl<br>@hawkowl set status to `closed`|
|-|-|

In changeset fd7c8c21daae04b886582c5f1e8d8f399cd0f72f
```
#!CommitTicketReference repository="" revision="fd7c8c21daae04b886582c5f1e8d8f399cd0f72f"
Merge 9190-lukasa-options-star: Handle the HTTP * request URI.

Author: lukasa
Reviewer: wsanchez
Fixes: ticket:9190
```