IMAP4Server.search_TEXT should search headers as well

|[<img alt="thijstriemstra's avatar" src="https://avatars.githubusercontent.com/u/305679?s=50" width="50" height="50">](https://github.com/thijstriemstra)| @thijstriemstra reported|
|-|-|
|Trac ID|trac#6423|
|Type|enhancement|
|Created|2013-04-10 12:12:48Z|

`twisted.mail.imap4.IMAP4Server.search_TEXT` only searches the body of a message (and currently behaves the same as `search_BODY`), but it should search the message headers as well.

<details><summary>Searchable metadata</summary>

```
trac-id__6423 6423
type__enhancement enhancement
reporter__thijs thijs
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__mail mail
keywords__ 
time__1365595968000000 1365595968000000
changetime__1365728026000000 1365728026000000
version__None None
owner__ 
cc__thijs
```
</details>


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_1"></a>|@exarkun commented|
|-|-|

This is because of [RFC 3501, section 6.4.4](http://tools.ietf.org/html/rfc3501#section-6.4.4):

      TEXT <string>
         Messages that contain the specified string in the header or
         body of the message.