Add anonymous support to Conch SSHFactory

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)| @cyli reported|
|-|-|
|Trac ID|trac#5531|
|Type|enhancement|
|Created|2012-03-12 20:43:13Z|
|Branch|https://github.com/twisted/twisted/tree/conch-anonymous-5531-5|

[#4753](https://github.com/twisted/twisted/issues/4753) adds (or will add) cred plugins to conch, but conch doesn't support anonymous login yet.

<details><summary>Searchable metadata</summary>

```
trac-id__5531 5531
type__enhancement enhancement
reporter__cyli cyli
priority__normal normal
milestone__ 
branch__branches_conch_anonymous_5531_5 branches/conch-anonymous-5531-5
branch_author__cyli cyli
status__new new
resolution__None None
component__conch conch
keywords__ 
time__1331584993000000 1331584993000000
changetime__1452253180087617 1452253180087617
version__None None
owner__cyli cyli
cc__z3p cc__erikj@...
```
</details>


|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_2"></a>|@cyli commented|
|-|-|

(In [33706]) Branching to 'conch-anonymous-5531'

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_3"></a>|@cyli commented|
|-|-|

(In [33718]) Add support for 'none' authentication method in t.c.ssh.userauth.SSHUserAuthServer, which will allow for anonymous authentication

refs [#5531](https://github.com/twisted/twisted/issues/5531)


|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_4"></a>|@cyli commented|
|-|-|

(In [33719]) Add extra tests to cover the none authentication method case both with and without a recognized service request.  Also, clean up some lines over 80, and some whitespace.

refs [#5531](https://github.com/twisted/twisted/issues/5531)


|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_5"></a>|@cyli commented|
|-|-|

In the tests, I changed the service name that is recognized by the FakeTransport's fake factory's getService method to be 'fakeservice', rather than 'none', since 'none' is also the name of the anonymous authentication method and it was getting confusing.

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_6"></a>|@cyli commented|
|-|-|

[buildbot results](http://buildbot.twistedmatrix.com/boxes-supported?branch=/branches/conch-anonymous-5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_7"></a>|@cyli commented|
|-|-|

Also wanted to mention RFC 4252 section 5.2 says:
```
5.2.  The "none" Authentication Request

   A client may request a list of authentication 'method name' values
   that may continue by using the "none" authentication 'method name'.

   If no authentication is needed for the user, the server MUST return
   SSH_MSG_USERAUTH_SUCCESS.  Otherwise, the server MUST return
   SSH_MSG_USERAUTH_FAILURE and MAY return with it a list of methods
   that may continue in its 'authentications that can continue' value.

   This 'method name' MUST NOT be listed as supported by the server.
```

So it seems like returning SSH_MSG_AUTH_SUCCESS without a list of methods (if the portal supports IAnonymous, and the realm supports anonymous avatars, and the requested service is valid) seems to be valid behaviour.

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_8"></a>|@exarkun set owner to @cyli|
|-|-|

Thanks!

  1. While testing this out, I noticed a problem with [#4753](https://github.com/twisted/twisted/issues/4753).  Normally it's possible to add multiple credentials checker using the strcred `Options` mixin.  The override of `addChecker` in conch means that each new `--auth` option overrides the previous one, so only one checker can be added.  It's still possible to test the anonymous support here, but it'd be nice to support multiple checkers in conch.  Can you file a ticket for fixing this?
  1. The anonymous avatarId should be `twisted.cred.checkers.ANONYMOUS` not a string like `"anonymous"`.
  1. The tests could re-use `twisted.cred.checkers.AllowAnonymousAccess` instead of re-implementing it as `twisted.conch.test.test_userauth.AnonymousChecker`.
  1. You could invent a new credentials interface for `UnsupportedAuthenticationChecker`, instead of re-using one that _perhaps_ could accidentally be supported someday.  A one-off test-only interface would be more obviously unsupported.
  1. `test_noneAuthentication_nonRecognizedService` and `test_noneAuthentication_recognizedService` are misnamed (as are some existing tests in the module).  Get rid of the second underscore.
  1. `SSHUserAuthServerWithAnonTestCase.expectedAuthentications` included `"none"`, but I think according to the RFC (5.2), it **MUST NOT**.  I'm not exactly sure what behavior this triggers in clients though, and it's hard to test because of point 1 of this review.
  1. `_ebNoneNotSupported` is too broad.  A `portal.login` can fail for reasons other than the credentials object not being supported.  Some checking of the exception type is merited, along with appropriate logic for different failure types.
  1. The new `auth_none` gets called too often, I think.  Actually, potentially all of the `auth_*` methods might get called too often.  `tryAuth` seems to let the client invoke whatever authentication mechanism they ask for, whether the server intends to offer it or not.  A new check here, restricting the potential `auth_` methods that can _actually_ be invoked to those the server thinks the client should be allowed to invoke would be a good addition.  Possibly this works as a separate ticket, since it's not really a new problem here, it's just more obvious now.
  1. There's a new, unused import of `pdb` at the top of `userauth.py`

A limitation of the SSH protocol seems to be that you can _either_ have anonymous access _or_ authenticated access.  There seems to be no way to advertise both at the same time, nor any way to re-advertise the possibility of anonymous access after having advertised authenticated access.  It seems like it might be possible to make the decision of how to proceed based on the username presented by the client (since that is provided before the critical point in the conversation), but cred makes this challenging.

Possibly some kind of pre-authenticated credentials object could be used to probe for the existence of an authentication username (log into the portal with the pre-authenticated credentials: if it succeeds, the username exists; if it fails, it does not).  Then, given that information, a decision could be made about whether to allow the connection anonymously (if no such account exists) or to challenge the client to prove their identity (in the case where the account does exist).  This is a little bit gross, and has a usability problem where clients attempting anonymous access may be unexpectedly challenged to prove their identity if they accidentally collide with an existing username.

Those seem like problems to solve later, though.  Even being able to have an all-anonymous Conch server is a step in the right direction.

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_9"></a>|@cyli commented|
|-|-|

(In [35288]) Branching to 'conch-anonymous-5531-2'

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_10"></a>|@cyli commented|
|-|-|

(1) - Done:  http://twistedmatrix.com/trac/ticket/5881, and submitted for review

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_11"></a>|@cyli commented|
|-|-|

(In [35298]) Commit changes from original branch refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_12"></a>|@cyli commented|
|-|-|

(In [35299]) Simple fixes like pyflakes and naming refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_13"></a>|@cyli commented|
|-|-|

Addressing some of the easier fixes:

 1. done: http://twistedmatrix.com/trac/ticket/5881, and submitted for review
 1. done.
 1. done.
 1. I interpreted "more unsupported" to be better, so I made a new one-off credentials interface in the test suite.
 1. fixed
 1. More on this later
 1. More on this later
 1. More on this later
 1. fixed

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_14"></a>|@cyli commented|
|-|-|

(In [35301]) Do not return none in auth method list refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_15"></a>|@cyli commented|
|-|-|

(In [35302]) Branching to 'conch-anonymous-5531-3'

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_16"></a>|@cyli commented|
|-|-|

(In [35306]) Commits from previous branch refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_17"></a>|@cyli commented|
|-|-|

(In [35307]) prevent users from having both anonymous and authenticated access refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_18"></a>|@cyli commented|
|-|-|

Ok, needed to have the changes from [#5881](https://github.com/twisted/twisted/issues/5881) in this, but:

In regards to point (6), I've added a new list of supported authentications that are RFC compliant, and those will be the only methods that ever get returned to the client.

In regards to point (8), I'm not sure if it was changed after this ticket was reviewed, but `tryAuth` checks to see if the method is supported before calling `auth_none`.  Supported methods are built from the specified authentication methods on the portal.  

In regards to point (7), since tryAuth already checks to see if the method is supported before calling it `auth_*`, I've just taken out `_ebNoneNotSupported` entirely since it seems extraneous.

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_19"></a>|@cyli removed owner|
|-|-|

[tests (at least on non-failing buildbots) pass](http://buildbot.twistedmatrix.com/boxes-supported?branch=/branches/conch-anonymous-5531-3)

|[<img alt="therve's avatar" src="https://avatars.githubusercontent.com/u/159137?s=50" width="50" height="50">](https://github.com/therve)<a name="note_20"></a>|@therve commented|
|-|-|

Not a review, but I tried using the branch, and I'm not sure what to expect. When using "twistd conch --auth=anonymous", it fails with `exceptions.TypeError: must be string, not tuple` because we try to pass ANONYMOUS to the UnixConchUser. OTOH, I don't know what's the expected behavior. Isn't there a missing part of configuration to tell what to do with anonymous access? Thanks!

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_22"></a>|@cyli commented|
|-|-|

Huh... no, this is just broken.  [35307] prevented me from being able to use multiple auths, which worked (well, obscured this bug)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_24"></a>|@cyli commented|
|-|-|

As per therve's suggestion, will just give the anonymous user access to whichever account is running conch.  This doesn't seem ideal, but it seems like everything else would require a more code/complexity) and should possibly be handled in a different ticket?

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_25"></a>|@cyli commented|
|-|-|

(In [35773]) Branching to 'conch-anonymous-5531-4'

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_26"></a>|@cyli commented|
|-|-|

(In [35774]) Commit changes from previous branch refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_27"></a>|@cyli commented|
|-|-|

(In [35775]) Set anonymous account to the account of the user running conch refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_28"></a>|@cyli commented|
|-|-|

(In 35776) skip conch unix tests if not on a posix environment #refs 5531  (this isn't from a hook - I messed up the reference)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_29"></a>|@cyli commented|
|-|-|

`sudo twistd -n conch [whatever other options] --auth=anonymous`:  logging into this server will give you a shell as the user who started the process, which perhaps isn't the best, but perhaps alright for now.

This doesn't introduce new API that we may need to change later.

[Buildbot results](http://buildbot.twistedmatrix.com/boxes-supported?branch=/branches/conch-anonymous-5531-4)

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_30"></a>|@exarkun set owner to @cyli|
|-|-|

Thanks.  Sorry about the long review turn-around. :(

> logging into this server will give you a shell as the user who started the process,

I'll note that "the user who started the process" is always root, since root is needed for `request_shell` to succeed.  This makes me wonder if a good follow-up ticket would be an anonymous avatar type with some behavior differing from `SSHSessionForUnixConchUser`.  I also think this means we need a warning on Conch somewhere pointing out that anonymous logins grant root shells and you might want to think twice before running one of these.

More generally, I'd like to see some howto-style documentation for using auth plugins with conch.  Unfortunately there appears to be no existing howto-style documentation about the Conch server to add this to, we'll need to start a new document. :/

Code-wise:

  1. `twisted/conch/test/test_unix.py` introduces a duplicated skip message.  Can you refactor so the message text only needs to be listed once?  Bonus points if you also avoid duplicating the definition of this message with respect to other test modules.
  1. Both test methods of `UnixSSHRealmTestCase` are missing docstrings and not named according to the convention (`test_...`).
  1. `RealmNoAnonymous` in `twisted/conch/test/test_userauth.py` has a docstring that says it isn't used by the tests... This is confusing, since it is used.  Can you clarify this?
  1. `_checkSuccess` in `test_userauth.py` is missing a docstring
  1. in `twisted/conch/ssh/userauth.py`, the docstring for `_ebBadAuth` needs to be updated to be correct with respect to the 'none' auth method.

There are a bunch of failures on buildbot, but I think that's just because the branch is old.  Please merge forward and trigger another build before merging to trunk to make sure.  After fixing the above, and if that build turns out green, please merge.  Thanks!

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_31"></a>|@cyli commented|
|-|-|

(In [37527]) Branching to 'conch-anonymous-5531-5'

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_32"></a>|@cyli commented|
|-|-|

(In [37530]) Merge forward.  refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_33"></a>|@cyli commented|
|-|-|

(In [37557]) Fix docstring for mock Realm and RealmNoAnonymous. refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_34"></a>|@cyli commented|
|-|-|

(In [37561]) More docstring fixes.  refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_35"></a>|@cyli commented|
|-|-|

(In [37566]) Disable the conch plugin from enabling anonymous access.  refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_36"></a>|@cyli commented|
|-|-|

(In [37567]) Remove unused import.  refs [#5531](https://github.com/twisted/twisted/issues/5531)

|[<img alt="cyli's avatar" src="https://avatars.githubusercontent.com/u/223200?s=50" width="50" height="50">](https://github.com/cyli)<a name="note_37"></a>|@cyli removed owner|
|-|-|

Sorry for the great delay in getting back to this ticket.  As discussed with exarkun, going to explicitly not implement anonymous login via the conch tap and also UnixSSHRealm (this one was not discussed).

[buildbot results: http://buildbot.twistedmatrix.com/boxes-supported?branch=/branches/conch-anonymous-5531-5]


|[<img alt="tomprince's avatar" src="https://avatars.githubusercontent.com/u/283816?s=50" width="50" height="50">](https://github.com/tomprince)<a name="note_38"></a>|@tomprince set owner to @cyli|
|-|-|

1.There are missing docstrings for `RealmNoAnonymous.requestAvatar` and `FakeUnixConchUser`, and a missing blank line (see [twistedchecker](https://buildbot.twistedmatrix.com/builders/twistedchecker/builds/513/steps/run-twistedchecker/logs/new%20twistedchecker%20errors), ignoring the boguse epytext errors).
 2. (optional) In `SSHUserAuthServer._ebBadAuth`, it would be nice if there were a single log message that was a) structured b) has all the relevant information. In particular, the traceback likely should be given by `log.err`.
   - But this is probably beyond the scope of this ticket, since the code is merely being rearranged here.
 3. Is there any reason for `rfcSupportedAuthentications` to be public?
 4. There doesn't currently appear to be anything platform specific in `twisted/conch/test/test_unix.py`.
 5. `SSHUserAuthServerBaseTestCase` probably wants to be a mixin, that doesn't inherit from `TestCase` (so that trial doesn't see it).
 6. Sorting the authentication method in `setUp` feels like a code smell, to me (particularly, sorthing attributes of the objects under test). I'd guess if you order the checkers in the same order as the expected authentication things would match up.

Please merge after addressing 1 and 3-6.

|<img alt="erikj's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_39"></a>|erikj commented|
|-|-|

Is this something that can be progressed? I'd quite like to see anonymous support in conch.ssh and would be happy to try and help fix this up. I'm not particularly familiar with the code, so I'm not sure how much work would be required to get this patch up to date with trunk.