Don't strip spaces from peer's SSH version

|[<img alt="adiroiban's avatar" src="https://avatars.githubusercontent.com/u/204609?s=50" width="50" height="50">](https://github.com/adiroiban)| @adiroiban reported|
|-|-|
|Trac ID|trac#9377|
|Type|defect|
|Created|2018-02-13 10:53:46Z|
|Branch|https://github.com/twisted/twisted/tree/9377-cautious-handling-version-string|

Some SSH servers (ex some Bitvise versions) have a trailing space in the version string (when configured to not show the version)

see https://github.com/mscdex/ssh2/issues/488#issuecomment-329085866

Conch SSH is bold and does a full strip on the version string https://github.com/twisted/twisted/blob/3bd48ac703b414d385fb59534e0cd3db727d8f33/src/twisted/conch/ssh/transport.py#L732

I have checked the RFC 4253 section 4.2 and I don't any mention that comment part should not end with a space   
https://tools.ietf.org/html/rfc4253#section-4.2

So I think that Conch SSH should be updated to only strip the new lines characters and not spaces

<details><summary>Searchable metadata</summary>

```
trac-id__9377 9377
type__defect defect
reporter__adiroiban adiroiban
priority__normal normal
milestone__None None
branch__9377_cautious_handling_version_string 9377-cautious-handling-version-string
branch_author__ 
status__closed closed
resolution__fixed fixed
component__conch conch
keywords__None None
time__1518519226657045 1518519226657045
changetime__1521854946811824 1521854946811824
version__None None
owner__Adi_Roiban__adi_roiban_____ Adi Roiban <adi.roiban@...>

```
</details>


|[<img alt="adiroiban's avatar" src="https://avatars.githubusercontent.com/u/204609?s=50" width="50" height="50">](https://github.com/adiroiban)<a name="note_1"></a>|@adiroiban commented|
|-|-|

PR at https://github.com/twisted/twisted/pull/957

|[<img alt="wiml's avatar" src="https://avatars.githubusercontent.com/u/156891?s=50" width="50" height="50">](https://github.com/wiml)<a name="note_2"></a>|@wiml commented|
|-|-|

See also [#9079](https://github.com/twisted/twisted/issues/9079) , I think?

|[<img alt="markrwilliams's avatar" src="https://avatars.githubusercontent.com/u/704247?s=50" width="50" height="50">](https://github.com/markrwilliams)<a name="note_3"></a>|@markrwilliams commented|
|-|-|

https://github.com/twisted/twisted/pull/957#pullrequestreview-106401099

|[<img alt="adiroiban's avatar" src="https://avatars.githubusercontent.com/u/204609?s=50" width="50" height="50">](https://github.com/adiroiban)<a name="note_4"></a>|@adiroiban set owner to @adiroiban<br>@adiroiban set status to `closed`|
|-|-|

In changeset 89e71172c2e4b2f923d3f3fa49922d50262394df
```
#!CommitTicketReference repository="" revision="89e71172c2e4b2f923d3f3fa49922d50262394df"
Merge pull request #957 from twisted/9377-cautious-handling-version-string

Author: adiroiban
Reviewer: markrwilliams
Fixes: ticket:9377
    
Don't remove trailing spaces from SSH version string comment.
```