twisted.names.authority.FileAuthority misuses the SOA minimum TTL

|[<img alt="wallrj's avatar" src="https://avatars.githubusercontent.com/u/978965?s=50" width="50" height="50">](https://github.com/wallrj)| @wallrj reported|
|-|-|
|Trac ID|trac#6661|
|Type|defect|
|Created|2013-08-02 23:56:45Z|

FileAuthority still treats the SOA minimum TTL as the default TTL for records without an explicit TTL.

However that TTL has been redefined to mean the negative caching TTL.

FileAuthority should be updated accordingly.

See ticket:6642#comment:6

See https://tools.ietf.org/html/rfc2308#section-4

```
   The SOA minimum field has been overloaded in the past to have three
   different meanings, the minimum TTL value of all RRs in a zone, the
   default TTL of RRs which did not contain a TTL value and the TTL of
   negative responses.

   Despite being the original defined meaning, the first of these, the
   minimum TTL value of all RRs in a zone, has never in practice been
   used and is hereby deprecated.

   The second, the default TTL of RRs which contain no explicit TTL in
   the master zone file, is relevant only at the primary server.  After
   a zone transfer all RRs have explicit TTLs and it is impossible to
   determine whether the TTL for a record was explicitly set or derived
   from the default after a zone transfer.  Where a server does not
   require RRs to include the TTL value explicitly, it should provide a
   mechanism, not being the value of the MINIMUM field of the SOA
   record, from which the missing TTL values are obtained.  How this is
   done is implementation dependent.

   The Master File format [RFC 1035 Section 5] is extended to include
   the following directive:

                           $TTL <TTL> [comment]


   All resource records appearing after the directive, and which do not
   explicitly include a TTL value, have their TTL set to the TTL given
   in the $TTL directive.  SIG records without a explicit TTL get their
   TTL from the "original TTL" of the SIG record [RFC 2065 Section 4.5].

   The remaining of the current meanings, of being the TTL to be used
   for negative responses, is the new defined meaning of the SOA minimum
   field.
```

<details><summary>Searchable metadata</summary>

```
trac-id__6661 6661
type__defect defect
reporter__rwall rwall
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__new new
resolution__None None
component__names names
keywords__ 
time__1375487805000000 1375487805000000
changetime__1375487805000000 1375487805000000
version__None None
owner__ 

```
</details>
