_newclient does not support bare LF newlines, unlike web browsers

|<img alt="ivank's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">| ivank reported|
|-|-|
|Trac ID|trac#3833|
|Type|enhancement|
|Created|2009-05-13 03:08:47Z|
|Branch|https://github.com/twisted/twisted/tree/newclient-bare-lf-3833|

Some servers send broken HTTP responses with only \n to delimit status lines and headers, instead of \r\n. All modern web browsers support this, but _newclient does not.

Originally discovered at http://twistedmatrix.com/trac/ticket/886#comment:23

<details><summary>Searchable metadata</summary>

```
trac-id__3833 3833
type__enhancement enhancement
reporter__ivank ivank
priority__low low
milestone__ 
branch__branches_newclient_bare_lf_3833 branches/newclient-bare-lf-3833
branch_author__jonathanj jonathanj
status__closed closed
resolution__fixed fixed
component__web web
keywords__None None
time__1242184127000000 1242184127000000
changetime__1474198569965514 1474198569965514
version__None None
owner__ 

```
</details>


|<img alt="ivank's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_1"></a>|ivank commented|
|-|-|

The only server that was found to do this was http://news.ycombinator.com/ (as of 2009-02). Nothing else has been found so far.

|[<img alt="mithrandi's avatar" src="https://avatars.githubusercontent.com/u/856430?s=50" width="50" height="50">](https://github.com/mithrandi)<a name="note_2"></a>|@mithrandi commented|
|-|-|

http://www.thinkgeek.com/ also has this defect, as of this posting.

|<img alt="ivank's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_3"></a>|ivank commented|
|-|-|

RFC 2616 section 19.3 Tolerant Applications:

   The line terminator for message-header fields is the sequence CRLF.
   However, we recommend that applications, when parsing such headers,
   recognize a single LF as a line terminator and ignore the leading CR.


|<img alt="ivank's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_4"></a>|ivank commented|
|-|-|

(via http://news.ycombinator.com/item?id=705095 , which lists other HTTP clients that had to be modified to work with LF)

|<img alt="ivank's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_5"></a>|ivank commented|
|-|-|

Related bug for the old HTTP client: [#2842](https://github.com/twisted/twisted/issues/2842)

|[<img alt="jyknight's avatar" src="https://avatars.githubusercontent.com/u/873903?s=50" width="50" height="50">](https://github.com/jyknight)<a name="note_6"></a>|@jyknight commented|
|-|-|

http://www.thinkgeek.com/ no longer appears to have this problem.

But a new bad site was discovered: http://hdl.loc.gov/loc.uscongress/legislation.111s1448

(And I can't believe ycombinator is still so broken. Sigh.)

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_7"></a>|@exarkun removed owner|
|-|-|

[http://twistedmatrix.com/trac/ticket/886#comment:23 The patch on [#10610](https://github.com/twisted/twisted/issues/10610)] appears to be a more or less complete attempt at fixing this issue.  Please review.


|[<img alt="jonathanj's avatar" src="https://avatars.githubusercontent.com/u/112166?s=50" width="50" height="50">](https://github.com/jonathanj)<a name="note_8"></a>|@jonathanj commented|
|-|-|

(In [30570]) Branching to 'newclient-bare-lf-3833'

|[<img alt="jonathanj's avatar" src="https://avatars.githubusercontent.com/u/112166?s=50" width="50" height="50">](https://github.com/jonathanj)<a name="note_9"></a>|@jonathanj commented|
|-|-|

(In [30571]) Apply ivank's newclient patch for handling bare linefeeds in HTTP headers and status lines, refs [#3833](https://github.com/twisted/twisted/issues/3833).

|[<img alt="jonathanj's avatar" src="https://avatars.githubusercontent.com/u/112166?s=50" width="50" height="50">](https://github.com/jonathanj)<a name="note_10"></a>|@jonathanj set status to `closed`|
|-|-|

(In [30573]) Merge newclient-bare-lf-3833: Handle HTTP headers delimited by bare LFs in Agent.

Author: ivank
Reviewer: jonathanj
Fixes: [#3833](https://github.com/twisted/twisted/issues/3833)

Some non-compliant web servers send HTTP responses delimited only by \n instead of \r\n. All modern web browsers support this and now Agent does too.



|<img alt="Automation's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">|Automation removed owner|
|-|-|


|[<img alt="hawkowl's avatar" src="https://avatars.githubusercontent.com/u/3307100?s=50" width="50" height="50">](https://github.com/hawkowl)<a name="note_12"></a>|@hawkowl commented|
|-|-|

[mass edit] Removing the review tag from closed tickets