Making Resources aware of their location in the resource tree

|<img alt="jpsimons's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50">| jpsimons reported|
|-|-|
|Trac ID|trac#4133|
|Type|enhancement|
|Created|2009-11-25 04:34:26Z|

I'd like to be able to generate full paths to resources, for linking to them. Currently this isn't possible because `putChild` doesn't set any context information in the putted child such as the parent resource or even the child's own path component. I am able to monkey patch it like so:

```
# Patch `putChild` to keep track of hierarchy in both directions
def putChild(self, path, child):
    self.children[path] = child
    child.server = self.server
    child.parent = self # Addition
    child.path_component = path # Addition
from twisted.web.resource import Resource
Resource.__dict__['putChild'] = putChild
```

This enables full path generation like so:

```
parts = []
while rsrc and hasattr(rsrc, "path_component"):
    parts.insert(0, getattr(rsrc, "path_component"))
    rsrc = getattr(rsrc, "parent", None)
return "/" + "/".join(parts)
```

However the drawback is this monkey patching has to run before any children are added.

More information about my use case:

I'm building some blogging software that lets you drop in pieces wherever you like in the resource tree, such as:

```
someResource.putChild("blog_admin", BlogAdmin())
someOtherResource.putChild("blog_files", BlogFiles())
```

BlogFiles() serves up blog posting attachments like photos. In order for a blog posting to link to its resources, it needs to know where the BlogFiles resource sits in the overall resource tree.

The change required is small (only two lines) so it seems low-risk to me. Any chance of getting this in twisted.web?



<details><summary>Searchable metadata</summary>

```
trac-id__4133 4133
type__enhancement enhancement
reporter__jpsimons jpsimons
priority__normal normal
milestone__ 
branch__ 
branch_author__ 
status__closed closed
resolution__wontfix wontfix
component__web web
keywords__web_resource_putChild web resource putChild
time__1259123666000000 1259123666000000
changetime__1259360812000000 1259360812000000
version__None None
owner__jknight jknight
cc__jpsimons cc__glyph
```
</details>


|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_2"></a>|@exarkun set status to `closed`|
|-|-|

You can get the full path to a resource from the request object.

This is a better approach than setting attributes on resource objects since it allows a resource object to be reached via multiple different paths, avoid reference cycles, and works with the other resource traversal mechanisms that don't involve `putChild`.

See `Request.prepath`, `Request.postpath`, `Request.prePathURL`, and `Requst.URLPath`.  Feel free to file feature requests in that area if these don't meet your needs.


|<img alt="darkporter's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_3"></a>|darkporter commented|
|-|-|

Yeah this works for linking to another resource in a known relative location to your current one. Like a "back to parent" link can use `request.prepath[:-1]`. However for linking to some other resource in an arbitrary location it's no help.

Aside from this specific use case I mention (two independent resources "dropped-in" to a pre-existing resource tree, who are then able to generate links to each other), I feel like this would be a useful thing to have in general. Say a large tree of resources has inter-resource links. They could be hard-coded full paths, or relative paths, but then if you move a subtree, it breaks.

I do see your point about reference cycles, and also the point about one resource being included in multiple places. In that case which one would be canonical? Let me think about this some more.

|[<img alt="exarkun's avatar" src="https://avatars.githubusercontent.com/u/254565?s=50" width="50" height="50">](https://github.com/exarkun)<a name="note_4"></a>|@exarkun commented|
|-|-|

Something else that might be worth considering/investigating/something is that web2 includes something like this functionality to support webdav.  I was opposed to the inclusion of this feature there, too. ;)  At some point someone is going to have to port webdav from web2 to web (or have it forever live on top of its own web server), so the use-case will need to be addressed somehow.  Unfortunately I don't understand the use-case well enough to describe it here, but examination of the code or possibly interrogation of some of the people who develop/maintain the webdav code might be productive.


|[<img alt="mwhudson's avatar" src="https://avatars.githubusercontent.com/u/672022?s=50" width="50" height="50">](https://github.com/mwhudson)<a name="note_5"></a>|@mwhudson commented|
|-|-|

My half-assed opinion is that a Resource -> URL mapping (which is what we're really talking about here, right?) belongs at in a higher level framework than twisted.web.

|<img alt="darkporter's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_6"></a>|darkporter commented|
|-|-|

See I disagree mwh. That suggests one shouldn't even be using twisted.web as a framework, that one should instead be using a higher-level framework. Twisted.web has a lot going for it in my opinion; the simple tree-based resource mapping is refreshing after doing so much Rails development with its convoluted polymorphic routing system. Since twisted web doesn't do templating or ORM all is really even does is the resource mapping. "HTTP/1.1 POST /foo/bar" => FooBar().render_POST(). Since it only has really one job, resource mapping, why not have it be done as well as it could be done, and have it work in the reverse direction as well?

|[<img alt="glyph's avatar" src="https://avatars.githubusercontent.com/u/716529?s=50" width="50" height="50">](https://github.com/glyph)<a name="note_7"></a>|@glyph commented|
|-|-|

I think twisted.web should include _something_ like this, but as specified here I don't think it's very helpful.

First of all, the summary ("making resources aware of their location in the resource tree") disagrees with the description ("I'd like to be able to generate full paths to resources").  Then you talk about putChild.  Most resources, in my experience, aren't placed into a hierarchy by `putChild`, but dynamically looked up.  So there would be lots and lots of resources which wouldn't know about their location.

So it would be good, if we're going to actually do any work on this ticket, to have a specification for it that explicitly describes the desired behavior.  Resources being "aware" of their location in the resource tree is a very abstract concept which may support any number of features.  Do you want to be able to generate a URL given a resource?  What should the failure mode be in the case where the Resource in question (or something like it) _might_ be in the tree, but we can't deterministically calculate where?

Secondly, as I'm coming to understand the !WebDAV use-case for functionality like this (which is a bit more nuanced; WebDAV actually wants to be able to look up other resources, cache various types of lookup for performance reasons because these extra resources are looked up very frequently, and invoke a great deal more interfaces on those resource objects than `IResource`), I keep finding explanations like this one from [RFC4918 section 3](http://tools.ietf.org/html/rfc4918#section-3):

   URI/URL Mapping - A relation between an absolute URI and a resource.  Since a resource can represent items that are not network retrievable, as well as those that are, it is possible for **a resource** to have **zero, one, or many URI mappings**.

So there may be URLs for which there is no resource, resources for which there is no URL, URLs for which there is no resource, and resources for which there are many URLs.  In this case, how do we order the URLs?  Do we raise an error when there are no URLs?