twisted.words.protocols.irc.IRCClient fails with non-UTF-8 sequences under Python 3

|[<img alt="markrwilliams's avatar" src="https://avatars.githubusercontent.com/u/704247?s=50" width="50" height="50">](https://github.com/markrwilliams)| @markrwilliams reported|
|-|-|
|Trac ID|trac#9443|
|Type|defect|
|Created|2018-05-11 21:04:32Z|

IRC has no defined encoding:

  2.2 Character codes
  
     No specific character set is specified. The protocol is based on a a
     set of codes which are composed of eight (8) bits, making up an
     octet.  Each message may be composed of any number of these octets;
     however, some octet values are used for control codes which act as
     message delimiters.

[RFC 2812, Section 2.2](https://tools.ietf.org/html/rfc2812#section-2.2)

But after [#6320](https://github.com/twisted/twisted/issues/6320), under Python 3 ```twisted.words.protocols.irc.IRCClient``` attempts to decode all protocol frames as UTF-8.  This fails in ways the user can't do anything about; for example, the following script fails with a ```UnicodeDecodeError``` inside ```IRCClient```:

```python
from twisted.logger import globalLogBeginner, textFileLogObserver
from twisted.internet import defer, endpoints, task
from twisted.words.protocols import irc
import sys


class ListBot(irc.IRCClient):
    nickname = "nothing"

    def __init__(self, done):
        self._done = done

    def signedOn(self):
        self.sendLine("LIST")

    def irc_RPL_LIST(self, prefix, params):
        print(prefix, params)

    def irc_RPL_LISTEND(self, prefix, params):
        self.transport.loseConnection()
        self._done.callback(None)


@task.react
def main(reactor):
    globalLogBeginner.beginLoggingTo([textFileLogObserver(sys.stdout)])
    transport = endpoints.clientFromString(reactor, 'tcp:chat.freenode.net:6667')
    end = defer.Deferred()
    start = endpoints.connectProtocol(transport, ListBot(end))
    start.addCallback(lambda _: end)
    return start
```

Users should be able to choose how various protocol frames are decoded, if at all.

<details><summary>Searchable metadata</summary>

```
trac-id__9443 9443
type__defect defect
reporter__markrwilliams markrwilliams
priority__normal normal
milestone__None None
branch__ 
branch_author__ 
status__new new
resolution__None None
component__words words
keywords__review review
time__1526072672171566 1526072672171566
changetime__1645219857607641 1645219857607641
version__None None
owner__None None

```
</details>


|[<img alt="JohnMaguire's avatar" src="https://avatars.githubusercontent.com/u/440033?s=50" width="50" height="50">](https://github.com/JohnMaguire)<a name="note_1"></a>|@JohnMaguire commented|
|-|-|

I was affected by this bug in my IRC bot. I override `lineReceived`, and ran into the issue both in my own code, and in the `IRCClient`. I solved my issue by decoding the incoming line with the "replace" argument, and then re-encoding it into bytes before passing it to `IRCClient`'s `lineReceived`.

Looking into the code, I believe the `IRC` protocol is also affected in `dataReceived`.

The author of this bug suggests that an `IRCClient` user should be able to specify which - if any - encoding is used. I think it is useful to get a str from IRCClient, so I am considering adding an `encoding` variable to the class, defaulting to "utf-8", and then using the "replace" parameter inside `lineReceived`.

Any thoughts on this approach?

|<img alt="DefaultUser's avatar" src="https://avatars.githubusercontent.com/u/0?s=50" width="50" height="50"><a name="note_2"></a>|DefaultUser commented|
|-|-|

Ticket on github: https://github.com/twisted/twisted/pull/1699